@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg: #ffffff;
  --main: #0866ff;
  --ligt-dark: #75767a;
  --light: #f0f2f5;
  --black: #222;
  --scrollbar-thumb: #e2e4e7;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: all .2s linear; */
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--light);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* .menu-center a {
  padding: 0.5rem 4rem;
  color: var(--ligt-dark);
}

.menu-center a.active {
  color: var(--main);
  border-bottom: 0.4rem solid var(--main);
}

.menu-center a:hover:not(.active) {
  background-color: var(--light);
} */

.navbar {
  width: 100%;
  height: 5.5rem;
  background-color: var(--bg);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.navbar-left {
  max-width: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.navbar-brand {
  font-size: 4rem;
  color: var(--main);
}
#bar_left{
    font-size: 2rem;
    cursor: pointer;
    margin-left: 1rem;
    display: none;
}

.search-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#btn_close {
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
  display: none;
  background-color: var(--light);
  padding: 0.5rem 2rem;
}

.btn-bar {
  display: none;
  cursor: pointer;
}
.btn-plus {
  display: none;
}

.search-box {
  background-color: var(--light);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

#icon_search {
  font-size: 1.5rem;
}

.search-container input {
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 1.3rem;
  background-color: transparent;
  width: 18rem;
}

.search-dropdown {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 30rem;
  height: 50rem;
  background-color: var(--bg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow-y: auto;
  border-radius: 1rem;
  animation: fadeIn 0.3s ease-in;
  z-index: -1;
}
.show {
  display: block;
}

.search-dropdown-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin-top: 5.5rem;
}

.search-dropdown-title p {
  font-size: 1.5rem;
}

.search-dropdown-title p:first-child {
  font-weight: 600;
  color: #111;
}

.search-dropdown-title p:last-child {
  color: var(--main);
}

.search-dropdown-user {
  display: flex;
  flex-direction: column;
  margin-top: 0.7rem;
}

.search-dropdown-user .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
  padding: 0.7rem;
}

.search-dropdown-user .box i {
  padding: 0.7rem;
}

.search-dropdown-user .box i:hover {
  cursor: pointer;
  background-color: #ddd;
  border-radius: 50%;
}

.search-dropdown-user .box:hover {
  background-color: var(--light);
}

.search-dropdown-user .box .user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-dropdown-user .box .user img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}

.navbar-nav {
  max-width: 50%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.nav-link {
  display: block;
  font-size: 2rem;
  padding: 0.7rem 3rem;
  border-radius: 0.5rem;
  position: relative;
  color: var(--ligt-dark);
}

.nav-link:hover:not(.active) {
  background-color: var(--light);
}

.nav-link.active {
  color: var(--main);
}

.nav-link.active::before {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0.4rem;
  background-color: var(--main);
}

.navbar-right {
  max-width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.navbar-right .btn i {
  font-size: 2rem;
  cursor: pointer;
  color: var(--black);
  background-color: var(--light);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.navbar-right .btn i.active {
  color: var(--main);
}

.navbar-right .btn:hover {
  background-color: #ddd;
}

.user-profile {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.user-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 
-------------------------------------------------
                    Messenger 
-------------------------------------------------
*/

#messenger {
  position: relative;
}

.messenger {
  display: none;
  position: absolute;
  top: 120%;
  right: 0;
  width: 37rem;
  height: 90vh;
  background-color: var(--bg);
  padding: 2rem 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow-x: scroll;
  animation: fadeIn 0.3s ease-in;
}
.messenger.show {
  display: block;
}
.messenger::-webkit-scrollbar {
  width: 0.7rem;
}
.messenger::-webkit-scrollbar-track {
  background-color: transparent;
}
.messenger::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
}
.messenger h2 {
  font-size: 2.5rem;
}

.search-messenger {
  background-color: var(--light);
  padding: 0.5rem;
  border-radius: 4rem;
  margin: 1rem 0;
}

.search-messenger > i {
  font-size: 1.3rem !important;
  padding: 0.5rem;
}

.search-messenger input {
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  background-color: transparent;
}

.messenger-title {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.messenger-title p {
  background-color: var(--light);
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
}

.messenger-text {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  font-size: 1.2rem;
  background-color: var(--light);
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
}
.messenger-text a {
  color: var(--main);
}

.messenger-box {
  display: flex;
  flex-direction: column;
  /* row-gap: 1rem; */
  margin-top: 1rem;
}

.messenger-box .box {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem;
}

.messenger-box .box:hover {
  background-color: var(--light);
}

.messenger-box .box img {
  width: 4.5rem;
  height: 4.5rem;
  object-fit: cover;
}

.messenger-box .box .text h4 {
  font-size: 1.3rem;
  font-weight: 600;
}

.messenger-box .box .text p {
  font-size: 1.2rem;
}

/* 
-------------------------------------------------
                    Notification 
-------------------------------------------------
*/

@keyframes fadeIn {
  0% {
    top: 70%;
    opacity: 0;
  }
}

#notification {
  position: relative;
}

.notification {
  display: none;
  position: absolute;
  top: 120%;
  right: 0;
  width: 37rem;
  height: 90vh;
  background-color: var(--bg);
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow-y: scroll;
  animation: fadeIn 0.4s linear;
}

.notification.show {
  display: block;
}

.notification::-webkit-scrollbar {
  width: 0.7rem;
}

.notification::-webkit-scrollbar-track {
  background-color: transparent;
}

.notification::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
}

.notification h2 {
  font-size: 2.5rem;
}

.notification .titlt-one {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.notification .titlt-one p {
  background-color: var(--light);
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
}

.notification .titlt-two {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  margin: 1rem 0;
}

.notification .titlt-two p:last-child {
  color: var(--main);
  font-size: 1.3rem;
}

.notification .titlt-two p:first-child {
  font-weight: bold;
  font-size: 1.5rem;
}

.notification .notification-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.notification .notification-box .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.2rem 1rem;
}
.notification .notification-box .box:hover {
  background-color: var(--light);
}

.notification .notification-box .box .user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.notification .notification-box .box img {
  width: 4.5rem;
  height: 4.5rem;
  object-fit: cover;
}

.notification .notification-box .box .dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--main);
}

.main-container {
  width: 100%;
  height: 200vh;
  display: flex;
  gap: 1rem;
}

.side-left {
  width: 25%;
  height: 100vh;
  /* background-color: red; */
  position: fixed;
  top: 5.5rem;
  left: 0;
  /* overflow-y: scroll; */
}

.side-left .box-container {
  display: flex;
  flex-direction: column;
  margin: 2rem 4rem 0 1rem;
  /* padding: 0 2rem; */
}

.side-left .box-container .box {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.side-left .box-container .box:hover {
  background-color: #e2e1e1;
}

.side-left .box-container .box i {
  font-size: 2.5rem;
  color: #09792e;
  width: 4rem;
}

.side-left .box-container .box p {
  font-size: 1.5rem;
  font-weight: 500;
}

.main {
  width: 50%;
  height: auto;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5.5rem;
  /* background-color: red; */
}

.main-wrapper {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.slide-container {
  margin-top: 2rem;
}

.slide img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  border-radius: 1rem;
}

.thought {
  margin-top: 2rem;
  background-color: var(--bg);
  border-radius: 1rem;
  padding: 2rem;
}

.thought .user {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #aaa;
  padding-bottom: 1rem;
}
.thought .user img {
  width: 4rem;
  height: 4rem;
}

.thought .user button {
  width: 100%;
  text-align: left;
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.thought .footer-container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  column-gap: 1rem;
  text-align: center;
}

.thought .footer-container .box {
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.thought .footer-container .box:hover {
  background-color: var(--light);
}

.thought .footer-container .box i {
  margin-right: 0.5rem;
}

.user-wrapper {
  margin-top: 2rem;
  background-color: var(--bg);
  padding: 2rem;
  border-radius: 1rem;
}

.user-wrapper .user-heading {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.user-wrapper .user-heading img {
  width: 4rem;
}

.user-wrapper .user-heading p {
  font-size: 1.4rem;
}

.user-wrapper .user-text {
  margin: 1rem 0;
  font-size: 1.3rem;
}

.user-wrapper img {
  width: 100%;
}

.user-wrapper .footer-container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  column-gap: 1rem;
  text-align: center;
  border-top: 1px solid #aaa;
  padding-top: 1rem;
}

.user-wrapper .footer-container .box {
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.user-wrapper .footer-container .box:hover {
  background-color: var(--light);
}

.user-wrapper .footer-container .box i {
  margin-right: 0.5rem;
}

.side-right {
  width: 25%;
  height: 100vh;
  position: fixed;
  top: 5.5rem;
  right: 0;
  /* margin-right: 2rem; */
  /* background-color: blue; */
  padding: 0 2rem;
}

.side-right .side-right-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.side-right .side-right-title .icon-container {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.side-right .side-right-title .icon-container i {
  font-size: 1.5rem;
}

.side-right .side-right-title .dot {
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
}

.side-right .side-right-title .dot > div {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 1rem;
  background-color: var(--ligt-dark);
}

.side-right .box-container {
  display: flex;
  flex-direction: column;
}

.side-right .box-container .box {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  /* margin-top: 1rem; */
  /* background-color: #ddd; */
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.side-right .box-container .box:hover {
  background-color: #ddd;
}

.side-right .box-container .box .user-container img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}

@media (max-width: 992px) {
    html{
        font-size: 55%;
    }
  #input_search,
  .btn-game,
  .btn-list {
    display: none;
  }
  .btn-bar,
  .btn-plus {
    display: inline-block;
  }
  .side-left,
  .side-right{
    display: none;
  }
  .main-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .main{
    width: 70%;
    /* padding: 0 2rem; */
}
}

@media (max-width: 768px) {
  .nav-link {
    padding: 0.7rem 1.5rem;
  }
  .btn-home,
  .btn-video,
  .btn-shop,
  .btn-group,
  .btn-bar {
    display: none;
  }

  #bar_left{
    display: block;
}

  .main{
    width: 80%;
    padding: 0 2rem;
}
}

@media (max-width: 576px) {
    html{
        font-size: 52%;
    }
    .main{
        width: 100%;
        padding: 0 2rem;
    }
}
